* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 510;
}

body {
  background-color: #000;
  color: #fff;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 10%,
      rgba(0, 0, 0, 0.5) 80%,
      rgba(0, 0, 0, 0.8) 90%
    ),
    url("Images/backgroundnew.jpg");
  background-size: cover;
  background-position: center;
  padding: 25px 4%;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: 144px;
}

.btns > button {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.btns :first-child {
  background-color: transparent !important;
  border: 1px solid rgb(135, 135, 135);
}

.btns :first-child img {
  border: 0;
}

.btns button {
  margin: 0px 17px;
  padding: 10px 20px;
  background-color: rgb(193, 17, 25);
  color: white;
  border: 0;
  border-radius: 4px;
}

.btns img {
  width: 14%;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.header-content h1 {
  font-size: 2.9rem;
  font-weight: 900;
  width: 82vw;
  text-align: center;
}

.header-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 2vh 0vw;
}

.header-content p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.email-signup {
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
}

.email-signup input {
  flex: 4;
  border: 0;
  outline: 0;
  margin-left: 20px;
  width: 410px;
  font-weight: 400;
  font-size: 1.2rem;
  color: #000;
}

.email-signup input::placeholder {
  font-size: 1.25rem;
  font-weight: lighter;
}

.email-signup button {
  background-color: #db0001;
  border: 0;
  outline: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 30px;
}

.line {
  background-color: #232323;
  height: 0.45rem;
}

/* 2nd page */

.featues {
  padding: 101px 8%;
  font-size: 22px;
  height: 90vh;
}

.row {
  width: 78vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.text-col h2 {
  font-size: 2.9rem;
  font-weight: 900;
  width: 35vw;
  text-align: left;
  margin: 0vh 6vw;
}

.text-col p {
  font-size: 1.4rem;
  font-weight: 400;
  width: 32vw;
  text-align: left;
  margin: 1vh 6vw;
}

.img-col img {
  position: relative;
  width: 40vw;
}

.feature__image__container {
  width: 100%;
  position: relative;
}
.feature__2__poster__container {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 16em;
  display: flex;
  align-items: center;
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  height: 60px;
  padding: 0.25rem 0.6rem;
  gap: 15px;
  min-height: 6rem;
}
.poster__details {
  width: 60%;
}
.download__gif__container {
  width: 20%;
  height: 100%;
}
.download__gif__container img {
  width: 61px;
  margin-top: 11px;
}
.poster__container {
  width: 20%;
}
.poster__container img {
  height: 70px;
}
/* Frequently Asked Page */
.faq {
  padding: 10px 12%;
  text-align: center;
  font-size: 32px;
}

.ques {
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
}

.ques li {
  list-style-type: none;
  width: 100%;
  padding: 5px;
}

.ques li label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

label::after {
  content: "+";
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform 0.3s;
}

input[type="radio"] {
  display: none;
}

.ques .content {
  background-color: #303030;
  text-align: left;
  padding: 0 30px;
  max-height: 0;
  overflow: hidden;
}

.ques .content p {
  font-size: 1.2rem;
  font-weight: 400;
}

.ques input[type="radio"]:checked + label + .content {
  max-height: 600px;
  padding: 30px 20px;
}

.ques input[type="radio"]:checked + label::after {
  transform: rotate(135deg);
}

.faq .last-call .email-signup {
  max-width: 600px;
  margin: 20px auto 60px;
}

.faq .last-call p {
  font-size: 19px;
  font-weight: normal;
}

/* Footer */

.footer {
  padding: 50px 7% 10px;
  color: #777;
}

.footer h2 {
  color: #777;
  font-size: 18px;
  font-weight: 400;
}

.footer a {
  color: #777;
}

.footer .row {
  display: flex;
  justify-content: space-between;
}

.footer .col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer .col a {
  padding: 1.25vh 0vw;
}

.footer .col button {
  padding: 2vh 0vw;
  background-color: transparent !important;
  border: 1px solid rgb(135, 135, 135);
  margin: 8px 0px;
  color: white;
  border: 0.1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}

.footer .col button {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer .col button img {
  width: 0.75vw;
}

.footer .col p {
  font-size: 0.85rem;
  padding: 2vh 0vw;
}

.footer .special {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer .special a {
  padding: 1.25vh 0vw;
}

.footer .special p {
  font-size: 0.85rem;
  padding: 2vh 0vw;
}

/* media queries */
@media only screen and (max-width: 920px) {
  .row {
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 1vh auto;
  }
  .text-col h2 {
    font-size: 2.5rem;
    width: 55vw;
    margin: 0vh auto;
  }
  .text-col p {
    font-size: 1.2rem;
    font-weight: 400;
    width: 54vw;
    text-align: left;
    margin: 2vh auto;
  }
  .img-col img {
    position: relative;
    width: 52vw;
  }
  .feature__2__poster__container {
    left: 45%;
  }
}
@media only screen and (max-width: 895px) {
  .feature__2__poster__container {
    left: 48%;
  }
}
@media only screen and (max-width: 835px) {
  .special {
    display: none;
  }
  .feature__2__poster__container {
    left: 52%;
  }
}
@media only screen and (max-width: 750px) {
  .text-col h2 {
    font-size: 2rem;
    width: 65vw;
    margin: 0vh auto;
  }
  .text-col p {
    font-size: 1.1rem;
    font-weight: 380;
    width: 65vw;
    text-align: left;
    margin: 2vh auto;
  }
  .img-col img {
    position: relative;
    width: 68vw;
    margin-bottom: 34px;
  }
  .special {
    display: none;
  }
  .feature__2__poster__container {
    left: 55%;
  }
}
@media only screen and (max-width: 570px) {
  .email-signup {
    width: 85vw;
    height: 49px;
  }
  .special {
    display: none;
  }
  .feature__image__container {
    width: 138%;
    position: relative;
  }
  .feature__2__poster__container {
    left: 59%;
  }
}
@media only screen and (max-width: 442px) {
  nav .logo {
    width: 100px;
  }
  nav :nth-child(2) {
    padding: 5px 10px;
  }
  nav :first-child {
    padding: 5px 2px;
  }
  .header-content h1 {
    font-size: 1.9rem;
    font-weight: 800;
    width: 90vw;
    text-align: center;
  }
  .header-content h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 2vh 0vw;
  }
  .header-content p {
    font-size: 1.1rem;
    font-weight: 350;
    line-height: 1.5;
    text-align: center;
  }
  .text-col,
  .img-col {
    flex-basis: 100%;
  }
  .special {
    display: none;
  }
  .feature__image__container {
    width: 178%;
    position: relative;
  }
  .feature__2__poster__container {
    left: 51%;
  }
}
